<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>takeastand</title>
		
		<script src="https://d3js.org/d3.v4.min.js"></script>  <!-- link to D3 library -->
		<script src="app.js"></script>
		<script src="default.js"></script>
		<style type="text/css">
			h1 {color:red;}		/* CSS styling */
			p {color:blue;} 



			
		</style>

		<!-- include bootstrap ->

		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>


<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-functions.js"></script>
		
	</head>
	
	<body>
		<p id="dothewave">Click here to do the wave</p>
		
		<svg width="500" height="300">  <!-- some SVG -->
			<rect x="20" y="20" width="460" height="260" fill= "url(https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png)" height="200" width="200"/> 
		</rect>
		</svg>
			
		
		<circle></circle>

	
		
		


		<script>


//onclick functions
  var paraID = d3.select(this).attr("id");
      if (paraID == "iswave") {
          d3.selectAll("circle")
          .transition()
                .duration(2000)
        .attr("r", "3")
        .attr("fill", "blue");
		</script>

<script>
 // Initialize Firebase
 var config = {
   apiKey: "AIzaSyAjJxeTIfuyF8gEbv5OQzFUrnSZtnHn58s",
   authDomain: "sportshack-0725.firebaseapp.com",
   databaseURL: "https://sportshack-0725.firebaseio.com",
   projectId: "sportshack-0725",
   storageBucket: "sportshack-0725.appspot.com",
   messagingSenderId: "306433267649"
 };
 firebase.initializeApp(config);
</script>
		
	</body>
	
</html>
